*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
.d-flex{
  display: flex;
}
body{
  background-color: black;
}
main{
  overflow: auto;
  height: calc(100vh - 100px);
  width: 100vw;
}
.active{
  color: rgb(5, 217, 5);
}
.container{
  /* max-width: 98%; */
  width: 90%;
  margin: 100px auto;
  height: 80%;
  /* background-color: red; */
}
.gruppo{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}
.row{
  width: 100%;
  height: calc(93% / 5);
  margin-top: 8px;
  justify-content: center;
  flex-wrap: wrap;
}
.utente{
  /* width: calc(98% / 6); */
  /* background-color: yellow; */
  width: calc(98% / 7);
  min-width: 100px;
  height: 100%;
  margin: 3px;
  position: relative;
  display: flex;
}
.nome-utente{
  height: 15px;
  background-color: rgba(0, 0, 0, 0.596);
  position: absolute;
  left: 0;
  bottom: 1px;
  font-size: .7rem;
  color: white;
  padding: 2px;
}
.utente img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nome-utente span{
  
}
footer{
  height: 100px;
  /* background-color: #222222; */
}
footer .bar{
  height: 50px;
  background-color: #222222;
  color: white;
  justify-content: space-between;
  align-items: center;
}
.option{
  
}
.option .mic, .video{
  width: 80px;
  height: 50px;
  text-align: center;
  margin: 5px;
  padding-top: 2px;
  position: relative;
}
.mic,.video,.icon div{
  font-size: .8rem;
}
.bar i{
  font-size: 1.3rem;
margin-bottom: 4px;
}
.option span{
  position: absolute;
  right: 0;
  bottom: 40%;
}
.bar span i{
  font-size: .7rem;
}
nav{
  flex-shrink: 0;
  width: 800px;
  justify-content: center;
}
.icon{
  text-align: center;
  margin: 5px;
  padding-top: 2px;
}
.icon span i{
  /* line-height: 35px; */
}
.end-meeting div{
  width: 80px;
  height: 50px;
  background-color: #4A4A4A;
  line-height: 50px;
  font-size: .7rem;
  padding: 0 10px;
  color: red;
  justify-content: flex-end;
}
.end-meeting{
  width: 180px;
  justify-content: flex-end;
}